.label{
    display: flex;
      flex-direction: column;
      width: 400px;
      margin-bottom: 20px;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2)
}

.input {
  height: 30px;
  padding: 0 10px 0 10px;
  border: 1px solid #000;

}
.text {
  font-weight: 700;
    color: #000;
    margin-bottom: 5px;
}